# Database Configuration
DB_HOST=localHost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=temporal123
DB_NAME=trazapiezas_db

# JWT Configuration
JWT_SECRET= _clavea@infranqueable/1098/

# Server Configuration
PORT=3000

# External APIs
TALLERGP_API_KEY= #Esta API key se obtiene al registrarse en el sitio web de TallerGP, que es un proveedor de servicios de geolocalización y datos de vehículos. Para obtener la API key, visita el sitio web de TallerGP: https://tallergp.com/

# NOTA DE RECUPERACIÓN PARA ENTORNOS DE DESARROLLO:
# Si necesitas restaurar el acceso del usuario admin a 'admin123' en la base de datos,
# inserta este hash directamente en la columna password de la tabla 'users':
# $2b$10$wK1.KzVOn7H7TFS2O6U80.y.qg7bC.Pz49r1y1e3UbyjLWSrSmv7S