# Database Configuration
DB_HOST=localHost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=temporal123
DB_NAME=trazapiezas_db

# JWT Configuration
JWT_SECRET= _clavea@infranqueable/1098/

# Server Configuration
PORT=3000

# External APIs
TALLERGP_API_KEY= #Esta API key se obtiene al registrarse en el sitio web de TallerGP, que es un proveedor de servicios de geolocalización y datos de vehículos. Para obtener la API key, visita el sitio web de TallerGP: https://tallergp.com/
