<header
  class="flex justify-between items-center p-6 border-b border-zinc-800 bg-zinc-950 sticky top-0 z-40"
>
  <button
    (click)="router.navigate(['/dashboard'])"
    class="cursor-pointer hover:opacity-80 transition-opacity"
  >
    <h1
      class="text-xl font-black tracking-tighter text-white uppercase italic flex items-center justify-start gap-3"
    >
      <img src="/assets/logo.png" alt="TRAZAPIEZAS" class="h-12 w-auto object-contain" />
      <span class="pt-1"> {{ pageTitle }}</span>
    </h1>
  </button>
  <div class="flex gap-3 items-center">
    <button
      (click)="router.navigate(['/profile'])"
      class="text-zinc-400 cursor-pointer hover:opacity-80 transition-opacity"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
        <circle cx="12" cy="7" r="4" />
      </svg>
    </button>
    <button
      (click)="logout()"
      class="text-[#d97707] cursor-pointer hover:opacity-80 transition-opacity"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
        <polyline points="16 17 21 12 16 7" />
        <line x1="21" y1="12" x2="9" y2="12" />
      </svg>
    </button>
  </div>
</header>
